*.png
*.pdf

### don't retain the standalone version of notebooks
tokio.analysis.umami.py
tokio.connectors.nersc_isdct-demo.py
tokio.tools.hdf5-demo.py
tokio.tools.hdf5-heatmap.py

dailytraffic_*.json
